In [1]:
import sys
import pickle
import os
sys.path.append(os.path.abspath(("C:/Users/euderasm/GitHub/ud120-projects/tools/")))

from feature_format import featureFormat, targetFeatureSplit
from tester import dump_classifier_and_data

In [2]:
### Task 1: Select what features you'll use.
### features_list is a list of strings, each of which is a feature name.
### The first feature must be "poi".
features_list = ['poi','salary', 'to_messages', 'deferral_payments', 'total_payments', 'loan_advances', 'bonus', 'email_address', 'restricted_stock_deferred',
                 'deferred_income', 'total_stock_value', 'expenses', 'from_poi_to_this_person', 'exercised_stock_options','from_messages', 'other',
                 'from_this_person_to_poi','long_term_incentive', 'shared_receipt_with_poi', 'restricted_stock', 'director_fees'] # You will need to use more features

### Load the dictionary containing the dataset
with open("final_project_dataset.pkl", "rb") as data_file:
    data_dict = pickle.load(data_file)

In [3]:
### Creating a dataframe with the data
import pandas as pd
dataset = pd.DataFrame(data_dict).T
dataset.head()

,salary,to_messages,deferral_payments,total_payments,loan_advances,bonus,email_address,restricted_stock_deferred,deferred_income,total_stock_value,...,from_poi_to_this_person,exercised_stock_options,from_messages,other,from_this_person_to_poi,poi,long_term_incentive,shared_receipt_with_poi,restricted_stock,director_fees
METTS MARK,365788,807,NaN,1061827,NaN,600000,mark.metts@enron.com,NaN,NaN,585062,...,38,NaN,29,1740,1,False,NaN,702,585062,NaN
BAXTER JOHN C,267102,NaN,1295738,5634343,NaN,1200000,NaN,NaN,-1386055,10623258,...,NaN,6680544,NaN,2660303,NaN,False,1586055,NaN,3942714,NaN
ELLIOTT STEVEN,170941,NaN,NaN,211725,NaN,350000,steven.elliott@enron.com,NaN,-400729,6678735,...,NaN,4890344,NaN,12961,NaN,False,NaN,NaN,1788391,NaN
CORDES WILLIAM R,NaN,764,NaN,NaN,NaN,NaN,bill.cordes@enron.com,NaN,NaN,1038185,...,10,651850,12,NaN,0,False,NaN,58,386335,NaN
HANNON KEVIN P,243293,1045,NaN,288682,NaN,1500000,kevin.hannon@enron.com,NaN,-3117011,6391065,...,32,5538001,32,11350,21,True,1617011,1035,853064,NaN

In [4]:
### Check of dataset information
print("Shape:", dataset.shape)
print("Info:", dataset.info())

Shape: (146, 21)
<class 'pandas.core.frame.DataFrame'>
Index: 146 entries, METTS MARK to GLISAN JR BEN F
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   salary                     146 non-null    object
 1   to_messages                146 non-null    object
 2   deferral_payments          146 non-null    object
 3   total_payments             146 non-null    object
 4   loan_advances              146 non-null    object
 5   bonus                      146 non-null    object
 6   email_address              146 non-null    object
 7   restricted_stock_deferred  146 non-null    object
 8   deferred_income            146 non-null    object
 9   total_stock_value          146 non-null    object
 10  expenses                   146 non-null    object
 11  from_poi_to_this_person    146 non-null    object
 12  exercised_stock_options    146 non-null    object
 13  from_messages              146 non-null    object
 14  other                      146 non-null    object
 15  from_this_person_to_poi    146 non-null    object
 16  poi                        146 non-null    object
 17  long_term_incentive        146 non-null    object
 18  shared_receipt_with_poi    146 non-null    object
 19  restricted_stock           146 non-null    object
 20  director_fees              146 non-null    object
dtypes: object(21)
memory usage: 25.1+ KB
Info: None

In [46]:
## Check of missing values for each feature
#dataset['salary'].isna().sum()
nan = pd.DataFrame(columns=['Feature','%NaN'])
for i in dataset.columns:
    #print(i,":",round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2),"%")
    nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
nan.sort_values(by="%NaN",ascending=False, inplace=True)
nan

C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\2571016773.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'Feature':i, '%NaN':round(dataset[i][dataset[i] == "NaN"].count()/len(dataset[i])*100,2)}, ignore_index = True)

                      Feature   %NaN
4               loan_advances  97.26
20              director_fees  88.36
7   restricted_stock_deferred  87.67
2           deferral_payments  73.29
8             deferred_income  66.44
17        long_term_incentive  54.79
5                       bonus  43.84
13              from_messages  41.10
18    shared_receipt_with_poi  41.10
15    from_this_person_to_poi  41.10
1                 to_messages  41.10
11    from_poi_to_this_person  41.10
14                      other  36.30
0                      salary  34.93
10                   expenses  34.93
12    exercised_stock_options  30.14
19           restricted_stock  24.66
6               email_address  23.97
3              total_payments  14.38
9           total_stock_value  13.70
16                        poi   0.00

In [44]:
nan.sort_values(by="%NaN",ascending=False)

                      Feature   %NaN
4               loan_advances  97.26
20              director_fees  88.36
7   restricted_stock_deferred  87.67
2           deferral_payments  73.29
8             deferred_income  66.44
17        long_term_incentive  54.79
5                       bonus  43.84
13              from_messages  41.10
18    shared_receipt_with_poi  41.10
15    from_this_person_to_poi  41.10
1                 to_messages  41.10
11    from_poi_to_this_person  41.10
14                      other  36.30
0                      salary  34.93
10                   expenses  34.93
12    exercised_stock_options  30.14
19           restricted_stock  24.66
6               email_address  23.97
3              total_payments  14.38
9           total_stock_value  13.70
16                        poi   0.00

In [29]:
nan = pd.DataFrame(columns=['Feature','%NaN'])
nan

Empty DataFrame
Columns: [Feature, %NaN]
Index: []

In [30]:

nan = nan.append(nan[])
nan

C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\3172261443.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append({'feature': 1,'%NaN': 2}, ignore_index= True)
C:\Users\euderasm\AppData\Local\Temp\ipykernel_11976\3172261443.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nan = nan.append([1,2], ignore_index= True)

  Feature %NaN  feature    0
0     NaN    2      1.0  NaN
1     NaN  NaN      NaN  1.0
2     NaN  NaN      NaN  2.0

In [36]:
nan.columns[0]

'Feature'

In [18]:
import seaborn as sns
sns.histplot()

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (871803438.py, line 2)

In [ ]:
## Check of missing values for each feature
dataset.isna().sum()

print("Resumo de missing values:\n",ds.isna().sum())
shape1=ds.shape[0]
ds.dropna(how='any',inplace=True,axis=0)
ds=ds.reset_index()
del ds['index']
print(f'\nForam removidas {shape1-ds.shape[0]} linhas com valores missing.')

TypeError: 'method' object is not iterable

In [23]:
### Task 2: Remove outliers

146